absl-py==2.1.0
aiohappyeyeballs==2.4.4
aiohttp==3.11.10
aiosignal==1.3.1
altair==5.5.0
appnope==0.1.4
asttokens==2.4.1
astunparse==1.6.3
attrs==24.2.0
audioread==3.0.1
blinker==1.9.0
cachetools==5.5.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
comm==0.2.2
conllu==6.0.0
contourpy==1.3.1
cycler==0.12.1
datasets==3.2.0
debugpy==1.8.5
decorator==5.1.1
dill==0.3.8
dm-tree==0.1.8
docstring_parser==0.16
elastic-transport==8.15.1
elasticsearch==8.16.0
emoji==2.14.1
etils==1.11.0
evaluate==0.4.3
executing==2.1.0
faiss-cpu==1.9.0.post1
filelock==3.16.1
fire==0.7.0
flatbuffers==24.3.25
fonttools==4.55.3
frozenlist==1.5.0
fsspec==2024.9.0
gast==0.6.0
git-python==1.0.3
gitdb==4.0.11
GitPython==3.1.43
google-auth==2.37.0
google-auth-oauthlib==1.2.1
google-pasta==0.2.0
googleapis-common-protos==1.66.0
grpcio==1.68.1
h5py==3.12.1
huggingface-hub==0.26.5
idna==3.10
immutabledict==4.2.1
importlib_resources==6.4.5
iniconfig==2.0.0
ipykernel==6.29.5
ipython==8.27.0
jedi==0.19.1
Jinja2==3.1.4
jiwer==3.0.5
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.6.2
jupyter_core==5.7.2
keras==2.15.0
kiwisolver==1.4.7
lazy_loader==0.4
libclang==18.1.1
librosa==0.10.2.post1
llvmlite==0.43.0
lxml==5.3.0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.3
matplotlib-inline==0.1.7
mdurl==0.1.2
ml-dtypes==0.3.2
mpmath==1.3.0
msgpack==1.1.0
multidict==6.1.0
multiprocess==0.70.16
narwhals==1.17.0
nest-asyncio==1.6.0
networkx==3.4.2
nltk==3.9.1
numba==0.60.0
numpy==1.26.4
oauthlib==3.2.2
opt_einsum==3.4.0
packaging==24.1
pandas==2.2.3
parso==0.8.4
pexpect==4.9.0
pillow==11.0.0
platformdirs==4.3.3
pluggy==1.5.0
pooch==1.8.2
portalocker==3.0.0
promise==2.3
prompt_toolkit==3.0.47
propcache==0.2.1
protobuf==4.25.5
psutil==6.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==18.1.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
PyAudio==0.2.14
pycparser==2.22
pydeck==0.9.1
Pygments==2.18.0
pyparsing==3.2.0
pytest==8.0.0
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.2
pyzmq==26.2.0
RapidFuzz==3.10.1
referencing==0.35.1
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
rich==13.9.4
rouge_score==0.1.2
rpds-py==0.22.3
rsa==4.9
sacrebleu==2.4.3
safetensors==0.4.5
scikit-learn==1.6.0
scipy==1.14.1
sentencepiece==0.2.0
seqeval==1.2.2
simple-parsing==0.1.6
six==1.16.0
smmap==5.0.1
soundfile==0.12.1
soxr==0.5.0.post1
SpeechRecognition==3.10.4
srt==3.5.3
stack-data==0.6.3
stanza==1.10.1
streamlit==1.41.0
sympy==1.14.0
tabulate==0.9.0
tenacity==9.0.0
tensorboard==2.15.2
tensorboard-data-server==0.7.2
tensorflow==2.15.1
tensorflow-datasets==4.9.7
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.37.1
tensorflow-metadata==1.16.1
termcolor==2.5.0
threadpoolctl==3.5.0
tokenizers==0.21.0
toml==0.10.2
torch==2.7.0
tornado==6.4.1
tqdm==4.67.1
traitlets==5.14.3
transformers==4.47.0
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
vosk==0.3.44
wcwidth==0.2.13
websockets==15.0.1
Werkzeug==3.1.3
wrapt==1.14.1
xxhash==3.5.0
yarl==1.18.3
zipp==3.21.0
